
/* Main-Box --------------------------------------*/
#main_cs {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}


/* Main-left */
#main-left {
    width: 72%;
    height: 700px;
    background-color: rgb(240, 240, 240);
    overflow: scroll;
}
.frame-video {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


/* Main-Right */

#main-right {
    width: 30%;
    height: 700px;
    overflow: scroll;
    right: 0;
    background-color: #fff;
}

.nav-menu {
    height: auto;
    margin-left: 25px;
}

.nav-menu li {
    padding: 10px;
    list-style: none;
    
}

.nav-menu li a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    line-height: 1.6;
}

.nav-menu li i {
    text-decoration: none;
    padding-right: 10px;
}


